<% fillings = [
  "carnitas",
  "al pastor", 
  "steak", 
  "fish", 
  "chicken" ]
%>

<h1>I love tacos!</h1>

<p>There are <%= fillings.length %> kinds </p>

<ul>
  <% for filling in fillings %>
    <li><%= filling %></li>
  <% end %>
</ul>
